<header class="footer">
  <div class="width">
    <p>&copy 2023 <a target="_blank" href="https://www.youtube.com/@codingwithrobby">Coding With Robby</a></p>
  </div>
</header>

{% schema %}
{
  "name": "Footer",
  "settings": []
}
{% endschema %}
