{% layout none %}
<h1>Enter the password</h1>

{% unless shop.password_message == blank %}
  {{ shop.password_message }}
{% endunless %}

{% form 'storefront_password' %}
  {{ form.errors | default_errors }}

  <div class="password">
    <label for="password">Password</label>
    <input type="password" name="password">
  </div>

  <div class="submit">
    <input type="submit" value="Sign in">
  </div>
{% endform %}